# Exclude virtual environments
.venv/
hpo_venv/

# Exclude specific file
requirements_owlpy.txt

# Exclude pytest cache
.pytest_cache/
.data/

# Exclude Jupyter notebooks except within "notebooks/final"
notebooks/*.ipynb
!notebooks/final/*.ipynb

# Exclude '__pycache__' old, folders
**/__pycache__/
__OLD*/**
__OLD*/
presentation/
# Exclude commonly ignored files
.DS_Store
Thumbs.db
*.log
*.pyc
*.pyo

# Ignore downloaded data files
data/uberon*
data/cl
data/hp*
data/graph.xml